@import '~bootstrap/scss/bootstrap';

// #gameBoard
// .legend {
// // //padding: 40px;
// //  // height: 100vh;
// //   //display: flex;
// justify-content: center;
// align-items: center;
// //   //flex-direction: column;
// background-color: rgba(152, 138, 129, 1);
// }

body {
  margin: 0;  
  padding: 0;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  //'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  //'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  //'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  //'Courier New', Courier, monospace;
  //sans-serif;
  background-color: rgba(152, 138, 129, 1);
  color:rgba(139, 52,50, 1)
  //color: var(--purple)
  // color: var(--[“152”, “138”, “129”, 0.75])
}

.container {
  padding: 40px;
  height: 100vh;
  //display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(152, 138, 129, 1);
}


.box {
  align-items: center;
  //background-color: white;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(203, 183, 164, 1);
  background-color: rgba(139, 52, 50, 1);
  display:flex;
  justify-content: center;
  font-size: 80px;
}

#after-sign-in {
  //make it not display on the page to start off with
  display: none;
}



#start-game {
  //make it not display on the page to start off with
  display: none;
}



.btn-primary {
// background-color: #8064A2 !important;
background-color: rgba(203, 183, 164, 1) !important;
border: 2px rgba(139, 52, 50, 1)!important;
color:rgba(139, 52, 50, 1);

}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
